.button {
  display: inline-block;
  font-size: var(--font-size--small);
  padding: var(--space--small) var(--space--base);
  width: max-content;
}

.button--primary {
  background-color: var(--color-green--dark);
  color: var(--color-white);
  text-decoration: none;
  transition:
    box-shadow
    var(--transition-duration--base)
    var(--transition-timing--base);

  &:hover {
    box-shadow: 5px 5px 0 0 var(--color-green--mid);
  }
}
