.button {
  display: inline-block;
  font-weight: var(--font-weight--bold);
  padding: var(--space--small) var(--space--base);
  text-decoration: none;
  transition:
    box-shadow
    var(--transition-duration--base)
    var(--transition-timing--base);
  width: max-content;

  &:hover {
    box-shadow: var(--box-shadow--bottom);
    color: currentColor;
  }
}

.button--primary {
  background-color: var(--color-green--dark);
  color: var(--color-white);

  &:hover {
    color: var(--color-white);
  }
}

.button--secondary {
  background-color: var(--color-green--light);
  border: 1px solid var(--color-green--dark);
}
