header {
  align-items: center;
  background-color: var(--color-background--primary);
  grid-auto-flow: column;
  justify-content: space-between;
}

section,
header,
footer {
  display: grid;
  grid-template-columns: minmax(auto, var(--container--base));
  justify-content: center;
  padding: var(--space--base);
}

footer {
  justify-items: start;
}

header,
.l-intro {
  margin: 0 auto;
  max-width: calc(var(--container--base) + calc(var(--space--base) * 2));
}

.l-intro {
  grid-gap: var(--space--base);

  figure {
    @media screen and (min-width: $breakpoint-base) {
      grid-column-start: 2;
    }
  }

  img {
    max-height: 20rem;
    object-fit: cover;
  }
}

.grid--list {
  display: grid;
  grid-gap: var(--space--base);
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  margin-top: var(--space--large);
}

.grid--scroll {
  display: grid;
  grid-auto-columns: 80vw;
  grid-auto-flow: column;
  grid-gap: var(--space--large);
  overflow-x: scroll;
  padding: var(--space--small) 2rem;
  scroll-padding: var(--space--large);
  scroll-snap-type: x mandatory;

  @media screen and (min-width: $breakpoint-base) {
    grid-auto-columns: 50vw;
  }

  > * {
    scroll-snap-align: start;
  }
}
