html {
  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

header {
  align-items: center;
  background-color: var(--color-background--primary);
  grid-auto-flow: column;
  justify-content: space-between;
}

section,
header,
footer {
  display: grid;
  grid-template-columns: minmax(auto, var(--container--base));
  justify-content: center;
  padding: var(--space--base);
}

footer {
  justify-items: start;
}

header,
.l-intro {
  margin: 0 auto;
  max-width: calc(var(--container--base) + calc(var(--space--base) * 2));
}

.l-intro {
  grid-gap: var(--space--base);

  figure {
    @media screen and (min-width: $breakpoint-base) {
      grid-column-start: 2;
    }
  }

  picture {
    box-shadow: var(--box-shadow--base);
  }

  img {
    max-height: 15rem;
    object-fit: cover;
  }
}

.grid--list {
  display: grid;
  grid-gap: var(--space--base);
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
}
