body {
  background-color: var(--color-background--primary);
}

.l-primary {
  background-color: var(--color-background--primary);
}

.l-secondary {
  background-color: var(--color-background--secondary);
}

.l-tertiary {
  background-color: var(--color-background--tertiary);
}

.l-border {
  border-bottom: 1px solid var(--color-border--secondary);
}

footer {
  border-top: 1px solid var(--color-border--primary);
}

picture {
  box-shadow: var(--box-shadow--top);
}

svg {
  fill: currentColor;
}
