body {
  background-color: var(--color-background--primary);
}

.l-secondary {
  background-color: var(--color-background--secondary);
}

.l-tertiary {
  background-color: var(--color-background--tertiary);
}

picture {
  background-color: var(--color-background--secondary);

  img {
    mix-blend-mode: multiply;
  }
}
