html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--color-text);
  font-family: var(--font-family--body);
  font-size: var(--font-size--base);
  line-height: var(--line-height--base);
}

a {
  color: var(--color-text);
  text-decoration-color: var(--color-green--mid);
  transition:
    color
    var(--transition-duration--base)
    var(--transition-timing--base);

  &:hover,
  &:active {
    color: var(--color-green--mid);
  }
}

h2 {
  font-size: var(--font-size--small);
}

h3 {
  line-height: var(--line-height--tight);
  margin-bottom: var(--space--small);
}

p,
blockquote,
figure,
h1,
h2,
h3 {
  margin-top: 0;
}

h1,
.t-headline {
  font-family: var(--font-family--headline);
  font-weight: normal;
  line-height: var(--line-height--tight);
}

h1 {
  font-family: var(--font-family--headline);
  font-size: clamp(3.2rem, 4.5vw, 4rem);
}

.t-headline {
  font-size: clamp(1.8rem, 2.8vw, 2.5rem);
  margin-bottom: 0;
  max-width: 35ch;
}

h2,
.t-subhead {
  font-weight: var(--font-weight--bold);

  &::before {
    $_line-width: 2rem;
    @include size($_line-width, 2px);
    background-color: var(--color-border--primary);
    content: "";
    display: none;
    margin-left: calc((#{$_line-width} + var(--space--small)) * -1);
    margin-right: var(--space--small);
    vertical-align: middle;

    @media screen and (min-width: $breakpoint-base) {
      display: inline-block;
    }
  }
}

blockquote {
  margin: 0;
  padding-top: var(--space--small);

  &::before {
    content: "\201C";
    display: block;
    font-size: 200%;
    line-height: 0;
    transform: translate(-1.5rem, 1rem);

    @media screen and (min-width: $breakpoint-base) {
      transform: translate(-2rem, 1.5rem);
    }
  }
}

figcaption {
  font-size: var(--font-size--small);
  margin-top: var(--space--small);

  p {
    margin: 0;
  }
}

.t-quote-name {
  font-weight: var(--font-weight--bold);
}
