html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--color-text);
  font-family: var(--font-family--body);
}

.t-headline {
  font-family: var(--font-family--headline);
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}
