$bourbon: (
  "global-font-file-formats": ("woff2"),
);

$dir-font: "/static/fonts/";

$breakpoint-base: 40em;

:root {
  --color-green--light: #cfdbca;
  --color-green--mid: #87a27c;
  --color-green--dark: #1a4026;
  --color-beige--light: #f3f0e7;
  --color-beige--dark: #a99f80;
  --color-white: #ffffff;
  --color-background--primary: var(--color-green--light);
  --color-background--secondary: var(--color-beige--light);
  --color-background--tertiary: var(--color-white);
  --color-text: var(--color-green--dark);
  --color-border--primary: var(--color-green--mid);
  --color-border--secondary: var(--color-beige--dark);
  --color-box-shadow--primary: var(--color-green--mid);

  --font-family--body: "WorkSans", sans-serif;
  --font-family--headline: "Quincy-CF", serif;

  --font-size--small: 0.9rem;
  --font-size--base: 1.1rem;

  --font-weight--normal: 400;
  --font-weight--bold: 700;

  --line-height--base: 1.5;
  --line-height--tight: 1.1;

  --container--base: 60rem;

  --space--small: 0.5rem;
  --space--base: 1.5rem;

  --box-shadow--base: 5px 5px 0 0 var(--color-green--mid);

  --transition-duration--base: 0.2s;
  --transition-timing--base: ease-in-out;
}
