<section id="certifications" aria-labelledby="section--certifications" class="section--secondary">
  <h2 id="section--certifications" class="u-hide-visually">Certifications</h2>
  
  <ul class="grid--list">
    <li>
      <h3>40 years of experience</h3>
      <p>I graduated from Penn State in 1980 with a degree in hospitality. I’ve worked as a leader in the country club management field since then.</p>
    </li>
    <li>
      <h3>Certified coach</h3>
      <p>I received my certification in Leadership Coaching from Georgetown University in March of 2020.</p>
    </li>
    <li>
      <h3>Confidentiality</h3>
      <p>A bit about ethics and standards for a client engagement. This shouldn’t be too long here. But we can link to something else.</p>
    </li>
  </ul>
</section>
