<footer id="get-in-touch" aria-labelledby="section--get-in-touch">
  <h2 id="section--get-in-touch" class="u-hide-visually">Get in touch</h2>
  <p class="t-headline">Send me an email at <a href="mailto:sjklee1@gmail.com?subject=Coaching inquiry">sjklee1@gmail.com</a> to start your coaching journey.</p>
</footer>
