<footer id="get-in-touch" aria-labelledby="section--get-in-touch">
  <h2 id="section--get-in-touch">Get in touch</h2>
  <p>Send me an email to start your coaching journey</p>
  <a href="mailto:someone@sjklee1@gmail.com?subject=Coaching inquiry">sjklee1@gmail.com</a>
</footer>
