<footer id="get-in-touch" aria-labelledby="section--get-in-touch">
  <h2 id="section--get-in-touch" class="u-hide-visually">Get in touch</h2>
  <p class="t-headline" data-item>Send me an email at <a href="mailto:steve@kleecoach.com?subject=Coaching inquiry">steve@kleecoach.com</a> to start your coaching journey.</p>
</footer>
