<section id="how-it-works" aria-labelledby="section--how-it-works">
  <h2 id="section--how-it-works">How it works</h2>
  <p class="t-headline">My process is no-nonsense, flexible, and built for your individual needs, all in a completely virtual format.</p>
  
  <ol>
    <li>
      <h3>We’ll start with a completely commitment-free introductory conversation.</h3>
      <p>This is a chance for you to get to know me and for me to get to know you. We’ll start building a plan personalized to your needs and create a cadence that fits with that plan.</p>
    </li>
    <li>
      <h3>We’ll get to work on your plan!</h3>
      <p>With a strategy in place, we’ll set goals together to help level-up your leadership and management skills. Our regular discussions will center around meeting those goals. My hope is to guide you pver any barriers you meet.</p>
    </li>
    <li>
      <h3>We’ll part ways.</h3>
      <p>Coaching relationships usually last from 3 to 6 months. I want to set you up for success within that time and give you the confidence to keep building your skillset without me!</p>
    </li>
  </ol>
</section>
