<section id="intro" aria-labelledby="section--intro" class="l-intro">
  <div>
    <h1 id="section--intro">Thrive on your full career potential with a professional coach.</h1>
    <p class="t-callout">Stephen Klee, leadership coach</p>
    <a href="#get-in-touch" class="button button--primary">Get in touch</a>
    <a href="#my-philosophy" class="button button--secondary">My philosophy</a>
  </div>
  <figure>
    <picture>
      <img src="/static/images/klee__headshot2.jpg" alt="A headshot of Stephen Klee.">
    </picture>
    <figcaption>Hey, that’s me! Stephen Klee.</figcaption>
  </figure>
</section>
