<section id="my-philosophy" aria-labelledby="section--philosophy" class="l-tertiary">
  <h2 id="section--philosophy">My philosophy</h2>
  <p class="t-headline">Klee Leadership Coaching exists to help leaders who want to stretch and explore personal
growth in a collaborative, safe and creative space—one courageous conversation at a time.</p>
  
  <ul class="grid--list">
    <li>
      <h3>Self-Awareness</h3>
      <p>Over decades of experience leading and working with people; I have learned that relationships are the lifeblood of an organization. I believe however that the key relationship, the one which will ultimately determine the success of an organization, is a leader’s own awareness of ‘self’. First know thyself.</p>
    </li>
    <li>
      <h3>Servant Leadership</h3>
      <p>True leadership is an act of service. The best leaders see their role as a calling—a noble calling to create a better future for their teams, their colleagues, their members/customers, their communities and their families. Lead with your heart.</p>
    </li>
    <li>
      <h3>Vulnerability and Trust</h3>
      <p>As leaders, we are often taught to keep a distance and project a certain image but why is it then that we ourselves feel more comfortable around someone who is authentic and vulnerable? Vulnerability, authenticity and trust lie at the root of human connection. Vulnerability here does not mean being weak or submissive. To the contrary, it implies the courage to be yourself. It means replacing “professional distance and cool” with uncertainty, risk, and emotional exposure. Be daring. Be you. Lead.</p>
    </li>
    <li>
      <h3>Listening</h3>
      <p>Do you remember the last time you had a conversation where you felt that the other person was really listening to you? Listening is a critical part of effective communication and building good relationships. Actively listening to others lets them know that you care about them, as well as what they’re trying to say. Coaching unleashes the power of listening.</p>
    </li>
    <li>
      <h3>Learning</h3>
      <p>When you study why some leaders achieve a lot in their careers, you’ll find those at the top of a profession make ongoing, steady progress in doing meaningful work all the time. They harness self-awareness, consistency and time to produce maximum results. The key is to make daily micro-progress towards your goals, rather than expecting major breakthroughs to materialize. Great leaders are always learning. And growing.</p>
    </li>
  </ul>
</section>
