<section id="my-philosophy" aria-labelledby="section--philosophy" class="l-tertiary">
  <h2 id="section--philosophy">My philosophy</h2>
  <p class="t-headline">{{ philosophy.title }}</p>
  
  <ul class="grid--list">
    {% for item in philosophy.grid_list %}
    <li>
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
