<section id="my-philosophy" aria-labelledby="section--philosophy">
  <h2 id="section--philosophy">My philosophy</h2>
  <p>With over 40 years of hospitality and nonprofit industry experience, I’ve helped many professionals realize their full potential and become more compassionate and effective leaders.</p>
  
  <ul>
    <li>
      <h3>Compassion</h3>
      <p>A little bit about this topic here. Keep it brief but informative. It can be one or two sentences.</p>
    </li>
    <li>
      <h3>Another topic title</h3>
      <p>A little bit about this topic here. Keep it brief but informative. It can be one or two sentences.</p>
    </li>
    <li>
      <h3>Another topic title</h3>
      <p>A little bit about this topic here. Keep it brief but informative. It can be one or two sentences.</p>
    </li>
    <li>
      <h3>Another topic title</h3>
      <p>A little bit about this topic here. Keep it brief but informative. It can be one or two sentences.</p>
    </li>
    <li>
      <h3>Another topic title</h3>
      <p>A little bit about this topic here. Keep it brief but informative. It can be one or two sentences.</p>
    </li>
  </ul>
</section>
