<section id="testimonials" aria-labelledby="section--testimonials" class="section--secondary">
  <h2 id="section--testimonials" class="u-hide-visually">Testimonials</h2>
  
  <figure>
    <blockquote class="t-headline">Steve helped me to see that leadership is not just about my job: it’s about who I am. I have learned to see myself more congruently—what I do at work, who I am at home, what leaders do.</blockquote>
    <figcaption>
      <p>Dean Mallett</p>
      <p>Vice President, RR Donnelley</p>
    </figcaption>
  </figure>
  <figure>
    <blockquote class="t-headline">Steve helped me to see that leadership is not just about my job: it’s about who I am. I have learned to see myself more congruently—what I do at work, who I am at home, what leaders do.</blockquote>
    <figcaption>
      <p>Dean Mallett</p>
      <p>Vice President, RR Donnelley</p>
    </figcaption>
  </figure>
  <figure>
    <blockquote class="t-headline">Steve helped me to see that leadership is not just about my job: it’s about who I am. I have learned to see myself more congruently—what I do at work, who I am at home, what leaders do.</blockquote>
    <figcaption>
      <p>Dean Mallett</p>
      <p>Vice President, RR Donnelley</p>
    </figcaption>
  </figure>
</section>
