<section id="testimonials" aria-labelledby="section--testimonials" class="l-secondary">
  <h2 id="section--testimonials" class="u-hide-visually">Testimonials</h2>
  <div class="grid--scroll">
    {% for item in testimonials.quote_list %}
    <figure>
      <blockquote class="t-headline">{{ item.text }}</blockquote>
      <figcaption>
        <p class="t-quote-name">{{ item.attribution }}</p>
        <p>{{ item.extra_info }}</p>
      </figcaption>
    </figure>
    {% endfor %}
  </div>
</section>
