<section id="why-coaching" aria-labelledby="section--why-coaching" class="l-tertiary l-border">
  <h2 id="section--why-coaching" class="u-hide-visually">Why coaching?</h2>
  <figure>
    <blockquote class="t-headline">{{ why.quote.text | safe }}</blockquote>
    <figcaption>
      <p class="t-quote-name">{{ why.quote.attribution | safe }}</p>
    </figcaption>
  </figure>
  
  <ul class="grid--list">
    {% for item in why.list %}
    <li>
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
